################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/leetcode/344/ReverseString/.vs/ReverseString/v14
/leetcode/344/ReverseString/Debug
/leetcode/344/ReverseString/ReverseString.VC.VC.opendb
/leetcode/344/ReverseString/ReverseString.VC.db
/leetcode/344/ReverseString/ReverseString/Debug
/leetcode/8/atoi/.vs/atoi/v14
/leetcode/8/atoi/atoi/Debug
/leetcode/8/atoi/Debug
/leetcode/8/atoi/atoi.VC.VC.opendb
/leetcode/8/atoi/atoi.VC.db
